*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  position: relative
  margin: 0px 0px 0px 0px
a
  text-decoration: none
  cursor: pointer
li
  list-style: none
.container
  width: 1200px
  margin: auto
.row
  
header
  background: url('../img/Bg.png') top no-repeat
  background-size: cover
  background-attachment: fixed
  min-height: 100vh
.header-wrap
  display: flex
  justify-content: space-between
  line-height: 2
.header

		&__logo

		&__menu

		&__phone

.menu

		&__body

		&__list
      display: flex
		&__link
      margin: 0px 10px
.main

		&__title
      margin-top: 68px
      font-weight: bold
      font-size: 70px
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      width: 50%
		&__desc
      font-weight: 600
      font-size: 30px
      line-height: 37px
		&__btn
      background: #FF352B
      color: #fff
      width: 304px
      height: 60px
      margin: 50px 0px
      border: none 
      font-weight: 600
      font-size: 20px
      padding: 14px 100px
      cursor: pointer