.overlay
  display: none
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(0, 0, 0, 0.5)
  &__body
    position: fixed
    width: 600px
    min-height: 150px
    top: 50%
    left: 50%
    transform: translate(-300px, -75px)
    border-radius: 30px
    background: #fff
    padding: 80px
  span
    font-size: 30px
    position: fixed
    top: 50%
    left: 50%
    transform: translate(255px, -85px)
    cursor: pointer

.act
  display: block