.section
  position: relative
  margin: 80px 0px
  text-align: center
  height: 100vh
  &__title
    font-weight: 600
    font-size: 24px
  &__tabs
    display: flex
    justify-content: center
  &__tab
    margin: 40px 20px
    padding: 6px 12px
    border: 1px solid #FED100
    cursor: pointer
    
  &__block

.block-section
  position: absolute
  top: 160px
  left: 50%
  transform: translateX(-450px)
  display: flex
  justify-content: space-around
  transition: all 0.8s ease 0s
  opacity: 0
  &__left
    width: 300px
  &__title
    font-size: 24px
    font-weight: bold
    margin: 20px 0px 20px 0px
  &__descr
    margin: 0px 0px 10px 0px
  &__right
    
    width: 600px
    min-height: 400px
    img
      
.show
  opacity: 1

.hide
  opacity: 0

footer
  text-align: center
  line-height: 3
  background: #FED100