.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*burger*/

/*.menu
  &__icon
    @media (max-width: 767px)
      position: relative
      width: 30px
      height: 18px
      cursor: pointer
      z-index: 70
      span
        transition: all 0.3s ease 0s
        top: calc(50% - 1px)
        left: 0
        position: absolute
        width: 100%
        height: 2px
        background: #bb9c66
        &:first-child
          top: 0px
        &:last-child
          top: auto
          bottom: 0px
      &.active
        z-index: 20
        span
          transform:  scale(0)
          &:first-child
            transform: rotate(-45deg)
            top: calc(50% - 1px)
          &:last-child
            transform: rotate(45deg)
            bottom: calc(50% - 1px)
        body.lock
          overflow: hidden*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0px 0px 0px 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  background: url("../img/Bg.png") top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  margin: 0px 10px;
}

.main__title {
  margin-top: 68px;
  font-weight: bold;
  font-size: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
}

.main__desc {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.main__btn {
  background: #FF352B;
  color: #fff;
  width: 304px;
  height: 60px;
  margin: 50px 0px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  padding: 14px 100px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay__body {
  position: fixed;
  width: 600px;
  min-height: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-300px, -75px);
      -ms-transform: translate(-300px, -75px);
          transform: translate(-300px, -75px);
  border-radius: 30px;
  background: #fff;
  padding: 80px;
}

.overlay span {
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(255px, -85px);
      -ms-transform: translate(255px, -85px);
          transform: translate(255px, -85px);
  cursor: pointer;
}

.act {
  display: block;
}

.section {
  position: relative;
  margin: 80px 0px;
  text-align: center;
  height: 100vh;
}

.section__title {
  font-weight: 600;
  font-size: 24px;
}

.section__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__tab {
  margin: 40px 20px;
  padding: 6px 12px;
  border: 1px solid #FED100;
  cursor: pointer;
}

.block-section {
  position: absolute;
  top: 160px;
  left: 50%;
  -webkit-transform: translateX(-450px);
      -ms-transform: translateX(-450px);
          transform: translateX(-450px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.block-section__left {
  width: 300px;
}

.block-section__title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

.block-section__descr {
  margin: 0px 0px 10px 0px;
}

.block-section__right {
  width: 600px;
  min-height: 400px;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

footer {
  text-align: center;
  line-height: 3;
  background: #FED100;
}